include ../rating/rating

mixin notifications()
	section.notifications&attributes(attributes)
		h2.notifications__title Уведомления
		ul.notifications__list
			li.notifications__item
				.notifications__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило обвинение двум членам преступной группы, незаконно зарабатывавшим деньги на прыжках с парашютом.
			li.notifications__item
				.notifications__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило обвинение двум членам преступной группы, незаконно зарабатывавшим деньги на прыжках с парашютом.
			li.notifications__item
				.notifications__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило обвинение двум членам преступной группы, незаконно зарабатывавшим деньги на прыжках с парашютом.
			li.notifications__item
				.notifications__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило обвинение двум членам преступной группы, незаконно зарабатывавшим деньги на прыжках с парашютом.
			li.notifications__item
				.notifications__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило обвинение двум членам преступной группы, незаконно зарабатывавшим деньги на прыжках с парашютом.
		+rating().notifications__rating
