.hero
	display block
	background-repeat no-repeat
	background-position 50% 0
	background-size cover
	+r($t)
		display none
	&__in
		@extends .in
		padding-top 30px
		padding-bottom 28px
		color #FFF
		text-align center
	&__title
		margin-top 0
		margin-bottom 8px
		@extends .title
	&__text
		margin-bottom 13px
		font-size 16px
		letter-spacing tracking(-10, 16)

