mixin hero()
	section.hero
		.hero__in
			h1.hero__title Правовая биржа
			.hero__text
				p Откликайтесь на заявки и выполняйте задачи. LawStock гарантирует надёжность!
			button.hero__button.button Оставить заявку
