include ../icon/icon

mixin filter()
	.filter&attributes(attributes)
		.filter__item
			button.filter__item-title(type="button") По новизне
				+icon('arrow-down', true).filter__arrow
		.filter__item
			button.filter__item-title(type="button") По цене
				+icon('arrow-down', true).filter__arrow

		.filter__item
			button.filter__item-title(type="button") По сфере
				+icon('arrow-down', true).filter__arrow
			ul.filter__list.filter__list_active
				li.filter__list-item
					label.filter__label Судебные дела
						input.filter__checkbox(type="checkbox", value="", name="")
				li.filter__list-item
					label.filter__label Документы
						input.filter__checkbox(type="checkbox", value="", name="" checked)
		.filter__item
			button.filter__item-title(type="button") По отрасли
				+icon('arrow-down', true).filter__arrow
			ul.filter__list.filter__list_active
				li.filter__list-item
					label.filter__label Гражданское право
						input.filter__checkbox(type="checkbox", value="", name="")
				li.filter__list-item
					label.filter__label Уголовное право
						input.filter__checkbox(type="checkbox", value="", name="" checked)

				li.filter__list-item
					label.filter__label Семейное право
						input.filter__checkbox(type="checkbox", value="", name="")

				li.filter__list-item
					label.filter__label Административное право
						input.filter__checkbox(type="checkbox", value="", name="" checked)

				li.filter__list-item
					label.filter__label Трудовое право
						input.filter__checkbox(type="checkbox", value="", name="")

				li.filter__list-item
					label.filter__label Земельное право
						input.filter__checkbox(type="checkbox", value="", name="" checked)

				li.filter__list-item
					label.filter__label Жилищное право
						input.filter__checkbox(type="checkbox", value="", name="" checked)
