include ../icon/icon

mixin filter()
	.filter&attributes(attributes)
		.filter__item
			button.filter__item-title(type="button") По новизне
				+icon('arrow-down', true).filter__arrow
		.filter__item
			button.filter__item-title(type="button") По цене
				+icon('arrow-down', true).filter__arrow

		.filter__item
			button.filter__item-title(type="button") По сфере
				+icon('arrow-down', true).filter__arrow
			ul.filter__list.filter__list_active
				li.filter__list-item
					input#check-1.filter__checkbox(type="checkbox", value="", name="sphere")
					label.filter__label(for="check-1") Судебные дела
				li.filter__list-item
					input#check-2.filter__checkbox(type="checkbox", value="", name="sphere" checked)
					label.filter__label(for="check-2") Документы
		.filter__item
			button.filter__item-title(type="button") По отрасли
				+icon('arrow-down', true).filter__arrow
			ul.filter__list.filter__list_active
				li.filter__list-item
					input#check-3.filter__checkbox(type="checkbox", value="", name="industry")
					label.filter__label(for="check-3") Гражданское право
				li.filter__list-item
					input#check-4.filter__checkbox(type="checkbox", value="", name="industry" checked)
					label.filter__label(for="check-4") Уголовное право
				li.filter__list-item
					input#check-5.filter__checkbox(type="checkbox", value="", name="industry")
					label.filter__label(for="check-5") Семейное право
				li.filter__list-item
					input#check-6.filter__checkbox(type="checkbox", value="", name="industry" checked)
					label.filter__label(for="check-6") Административное право
				li.filter__list-item
					input#check-7.filter__checkbox(type="checkbox", value="", name="industry")
					label.filter__label(for="check-7") Трудовое право
				li.filter__list-item
					input#check-8.filter__checkbox(type="checkbox", value="", name="industry" checked)
					label.filter__label(for="check-8") Земельное право
				li.filter__list-item
					input#check-9.filter__checkbox(type="checkbox", value="", name="industry" checked)
					label.filter__label(for="check-9") Жилищное право

mixin filter-single()
	.filter&attributes(attributes)
		.filter__item
			button.filter__item-title(type="button") Все публикации
				+icon('arrow-down', true).filter__arrow
		.filter__item
			button.filter__item-title(type="button") Мои публикации
				//- +icon('arrow-down', true).filter__arrow

		.filter__item
			button.filter__item-title(type="button") Все отрасли
				+icon('arrow-down', true).filter__arrow
			ul.filter__list.filter__list_active
				li.filter__list-item
					input#check-1.filter__checkbox(type="checkbox", value="", name="industry")
					label.filter__label(for="check-1") Судебная практика
				li.filter__list-item
					input#check-2.filter__checkbox(type="checkbox", value="", name="industry" checked)
					label.filter__label(for="check-2") Консультации
				li.filter__list-item
					input#check-3.filter__checkbox(type="checkbox", value="", name="industry")
					label.filter__label(for="check-3") Корпоративное право
				li.filter__list-item
					input#check-4.filter__checkbox(type="checkbox", value="", name="industry" checked)
					label.filter__label(for="check-4") Гражданское право
				li.filter__list-item
					input#check-5.filter__checkbox(type="checkbox", value="", name="industry")
					label.filter__label(for="check-5") Уголовное право
				li.filter__list-item
					input#check-6.filter__checkbox(type="checkbox", value="", name="industry" checked)
					label.filter__label(for="check-6") Семейное право
				li.filter__list-item
					input#check-7.filter__checkbox(type="checkbox", value="", name="industry" checked)
					label.filter__label(for="check-7") Административное право


mixin filter-cat()
	.filter&attributes(attributes)
		.filter__item
			button.filter__item-title(type="button") По новизне
				+icon('arrow-down', true).filter__arrow
		.filter__item
			button.filter__item-title(type="button") По цене
				+icon('arrow-down', true).filter__arrow

		.filter__item
			button.filter__item-title(type="button") По сфере
				+icon('arrow-down', true).filter__arrow
			ul.filter__list.filter__list_active
				li.filter__list-item
					input#check-10.filter__checkbox(type="checkbox", value="", name="sphere")
					label.filter__label(for="check-10") Судебные дела
				li.filter__list-item
					input#check-20.filter__checkbox(type="checkbox", value="", name="sphere" checked)
					label.filter__label(for="check-20") Документы
		.filter__item
			button.filter__item-title(type="button") По отрасли
				+icon('arrow-down', true).filter__arrow
			ul.filter__list.filter__list_active
				li.filter__list-item
					input#check-30.filter__checkbox(type="checkbox", value="", name="industry")
					label.filter__label(for="check-30") Гражданское право
				li.filter__list-item
					input#check-40.filter__checkbox(type="checkbox", value="", name="industry" checked)
					label.filter__label(for="check-40") Уголовное право
				li.filter__list-item
					input#check-50.filter__checkbox(type="checkbox", value="", name="industry")
					label.filter__label(for="check-50") Семейное право
				li.filter__list-item
					input#check-60.filter__checkbox(type="checkbox", value="", name="industry" checked)
					label.filter__label(for="check-60") Административное право
				li.filter__list-item
					input#check-70.filter__checkbox(type="checkbox", value="", name="industry")
					label.filter__label(for="check-70") Трудовое право
				li.filter__list-item
					input#check-80.filter__checkbox(type="checkbox", value="", name="industry" checked)
					label.filter__label(for="check-80") Земельное право
				li.filter__list-item
					input#check-90.filter__checkbox(type="checkbox", value="", name="industry" checked)
					label.filter__label(for="check-90") Жилищное право
