html,
body
	height 100%

html
	position relative
	min-height 100%

body
	margin-bottom 0
	display flex
	flex-direction column

.main
	flex 1 0 auto

.page
	background #fff
	font-display swap
	font-family $pR
	font-weight normal
	font-size 14px
	color #000
	line-height 1.5
	tr(font-size .3s ease)
	+rmin($l)
		margin-bottom 0
	+rmin($tL)
		margin-bottom 0
	+rmin($t)
		margin-bottom 0
	+rmin($m)
		margin-bottom 0
	.container
		+r($t)
			padding-left 5px
			padding-right 5px
	button
		margin-bottom 0

	#sidebar-container
		top 58px
.in
	margin auto
	padding-left 15px
	padding-right 15px
	max-width 1200px
	+r(1200px)
		max-width 1170px
	+r($t)
		padding-left 5px
		padding-right 5px

.title
	font-family $pBld
	font-size 30px
	// line-height 1.2
	letter-spacing tracking(-10, 30)
.button
	border none
	padding-top 15px
	padding-bottom 16px
	padding-left 30px
	padding-right 30px
	display inline-block
	vertical-align top
	background-color #62e2ce
	background-image linear-gradient(to top, rgba(9, 75, 65, 0.3) 0%, rgba(40, 147, 130, 0) 100%), url('../images/general/button-pattern.png')
	color #000
	font-family $pBld
	font-size 18px
	line-height 1
	text-shadow 0 1px 0 #fff
	text-align center
	border-radius 24px
	box-shadow 0 3px 7px rgba(0, 0, 0, .5)
	tr(all .3s ease)
	+r($t)
		padding-top 8px
		padding-right 30px
		padding-bottom 6px
		padding-left 30px
		background-color #62e2ce
		background-image none
		font-size 12px
		font-family $pR
		text-shadow none
		border-radius 13px
		box-shadow none
	&:hover,
	&:focus
		color #000
		text-decoration none
		background-color darken(#62e2ce, 10)
		background-image linear-gradient(to top, darken(rgba(9, 75, 65, 0.3), 10) 0%, darken(rgba(40, 147, 130, 0), 10) 100%), url('../images/general/button-pattern.png')
		+r($t)
			background-image none
	&__icon
		margin-right 10px
		display inline-block
		vertical-align middle
		+r($t)
			display none
	&.button_submit
		padding-top 10px
		padding-right 22px
		padding-bottom 10px
		padding-left 22px
		height 40px
		font-family $pR
		font-size 16px
		line-height 1.3125
		letter-spacing -0.16px
		border-radius 20px
		background-color #60d9c6
		background-image none
		text-shadow none
		box-shadow none
		+r($t)
			padding-top 9px
			padding-right 10px
			padding-left 10px
			padding-bottom 9px
			background none
			font-size 14px
			letter-spacing -0.14px
		&:hover,
		&:focus
			background-color darken(#60d9c6, 10)
			+r($t)
				background-color transparent
	&.button_tight
		padding-top 9px
		padding-bottom 10px
		padding-right 18px
		padding-left 18px
		&:hover,
		&:focus
			background-color darken(#60d9c6, 10)
	&.button_wide
		padding-top 9px
		padding-bottom 10px
		padding-right 32px
		padding-left 32px
		background-color #60d9c6
		+r($t)
			padding-top 11px
		&:hover,
		&:focus
			background-color darken(#60d9c6, 10)
			+r($t)
				background-color darken(#60d9c6, 10)


	&.button_icon
		padding-top 0
		padding-bottom 0
		padding-left 16px
		padding-right 16px
		height 37px
		display flex
		align-items center
		text-align center
		background-color #d5f5ef
		background-image none
		font-size 13px
		font-family $pBld
		text-shadow none
		letter-spacing 0.13px
		border-radius 19px
		box-shadow 0 3px 10px rgba(0, 0, 0, 0.19)
		&:hover,
		&:active
			background-color darken(#d5f5ef, 10)
		+r($t)
			padding-left 12px
			padding-right 12px
			font-size 11px
			letter-spacing 0.11px
			text-align center
			span
				width 100%
	&.button_bank
		.button__icon
			width 21px
			height 21px
	&.button_complete
		.button__icon
			width 17px
			height 16px
	&.button_decline
		.button__icon
			width 17px
			height 17px
	&.button_moderate
		.button__icon
			float left
			retinaSprite($moderate_group)


.note
	padding-top 8px
	padding-right 23px
	padding-bottom 8px
	padding-left 23px
	display inline-block
	vertical-align middle
	border-radius 2px
	letter-spacing 0.14px
	&_bank
		background-color #b3d3ee
	&_moderate
		background-color #dae5ed
	&_verdict
		background-color #b3eeeb
	// &_decline
	// 	background-color #b3d3ee

.wysiwyg
	h1,
	h2
		margin-top 0
		font-family $pBld
		font-size 18px
		line-height 1.333
		letter-spacing tracking(5,18)
		+r($t)
			font-size 16px
			line-height 1.125
	h2
		margin-top 34px
		margin-bottom 11px
		font-size 16px
		line-height 1.5
		text-transform uppercase
		letter-spacing -0.16px
		+r($t)
			margin-top 0
			font-size 12px
	.unord-list,
	.ord-list
		margin-left 50px
		margin-bottom 30px
		+r($t)
			margin-right 0
			margin-left 0
		li
			line-height 2.14285714285714
			+r($t)
				margin-bottom 10px
				line-height 1.14285714285714
	.unord-list
		li
			position relative
			// margin-bottom 10px
			padding-left 15px
			&:after
				position absolute
				top 50%
				left 0
				width 8px
				height 8px
				background-color #57c6b4
				content ""
				border-radius 50%
				transform translateY(-50%)
				+r($t)
					top 6px
					transform translateY(0)
	.ord-list
		counter-reset li
		li
			position relative
			padding-left 26px
			&:after
				position absolute
				z-index 1
				top 50%
				left 0
				width 18px
				height 18px
				border 1px solid #57c6b4
				line-height 18px
				background-color #fff
				content counter(li)
				counter-increment li
				color #57C6B4
				font-family $pBld
				font-size 10px
				text-align center
				border-radius 50%
				transform translateY(-50%)
				+r($t)
					top 6px
					transform translateY(0)
	p
		margin-top 11px
		margin-bottom 11px
		font-size 14px
		line-height 1.525
		letter-spacing 0.14px
		&:last-child
			margin-bottom 0
		+r($l)
			margin-bottom 31px
		+r($t)
			margin-bottom 19px
			font-size 14px

	a

		text-decoration none
		color #2453a1
		letter-spacing 0.14px
		&:hover
			text-decoration underline

	.image
		position relative
		margin-bottom 0
	img
		display block
		max-width 100%
		height auto

	strong,
	b
		font-family $pBld
		font-size 16px
		letter-spacing -0.16px
		+r($t)
			font-size 14px

	blockquote
		border 3px solid #57c6b4
		margin-top 40px
		margin-left 50px
		margin-right 50px
		margin-bottom 40px
		padding-top 33px
		padding-right 50px
		padding-bottom 40px
		padding-left 50px
		font-size 24px
		line-height 1.333
		letter-spacing 0.24px
		text-align center
		+r($t)
			margin-top 27px
			margin-right 0
			margin-left 0
			margin-bottom 27px
			padding 12px
		p
			margin-bottom 0
			color #636363
			font-size 24px
			line-height 1.333
			letter-spacing 0.24px
			+r($t)
				margin-top 0
				font-size 18px
				line-height 1.22222222222222
				letter-spacing 0.18px

	.table
		padding-right 50px
		padding-left 50px
		width 100%
		+r($t)
			padding-right 0
			padding-left 0
	table
		min-width 100%
		width 100%
		text-align center

		// table-layout fixed
		tr
			th
				border-bottom 2px solid #57c6b4
				padding-top 16px
				padding-right 0
				padding-bottom 16px
				padding-left 0
				font-family $pBld
				font-size 16px
				text-align center
				+r($t)
					padding-top 7px
					padding-bottom 7px
					font-size 14px
			td
				border-bottom 1px solid #b1b1b1
				padding-top 16px
				padding-right 0
				padding-bottom 16px
				padding-left 0
				+r($t)
					font-size 12px
