@font-face
	font-family 'ProximaNova-Black'
	src local('Proxima Nova Black'), local('ProximaNova-Black'),
		url('../fonts/hinted-subset-ProximaNova-Black.woff2') format('woff2'),
		url('../fonts/hinted-subset-ProximaNova-Black.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'ProximaNova-Bold'
	src local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('../fonts/hinted-subset-ProximaNova-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-ProximaNova-Bold.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'ProximaNova-Regular'
	src local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('../fonts/hinted-subset-ProximaNova-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-ProximaNova-Regular.woff') format('woff')
	font-weight normal
	font-style normal


$pR =  ProximaNova-Regular, Arial, "Helvetica Neue", Helvetica, sans-serif
$pBld =  ProximaNova-Bold, Arial, "Helvetica Neue", Helvetica, sans-serif
$pB =  ProximaNova-Black, Arial, "Helvetica Neue", Helvetica, sans-serif

// $h = 'HelveticaNeueCyr-Roman', 'Helvetica Neue', Helvetica, Arial, sans-serif
// $d = 'Direct-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif
