.main
	display block
	min-height 100%
	background #F3F3F3
	&__w
		@extends .in
		padding-top 20px
		padding-top 20px
		padding-bottom 20px
		clr()
	&__side
		// margin-right 30px
		float left
		width 270px
		width ratio-percentage(270, 1170)
		min-width ratio-percentage(200, 1170)
		+r($tL)
			display none
			float none
			width auto
	&__content
		float right
		width 870px
		width ratio-percentage(870, 1170)

		clr()
		+r($tL)
			float none
			width auto
	&__search-form
		margin-bottom 27px
		float right
	&__cards
		margin-bottom 20px
		clear both


