.main
	display block
	min-height 100%
	background #F3F3F3
	+r($t)
		padding-top 58px
	&__w
		@extends .in
		padding-top 20px
		padding-bottom 20px
		clr()
	&__w_flip
		+r($m)
			padding-left 0
			padding-right 0
		.main__side
			float right
			+r($t)
				float none
		.main__content
			float left
			+r($t)
				float none
		.main__search-form
			text-align left
	&__side
		float left
		width 270px
		width ratio-percentage(270, 1170)
		min-width ratio-percentage(200, 1170)
		+r($tL)
			display none
			float none
			width auto
	&__side_active
		display block
	&__side-widget
		margin-bottom 18px
	&__content
		float right
		width 870px
		width ratio-percentage(870, 1170)
		clr()
		+r($tL)
			float none
			width auto
	&__title
		margin-top 0
		display none
		font-family $pBld
		font-size 16px
		line-height 1.125
		letter-spacing tracking(5, 16)
		+r($t)
			margin-bottom 10px
			display block

	&__search-form
		margin-bottom 27px
		text-align right
		+r($t)
			display none
			float none
	&__cards
		margin-bottom 20px
		clear both

	&__article
		margin-bottom 25px
		+r($t)
			margin-bottom 8px
	&__case
		margin-bottom 18px
		+r($t)
			margin-bottom 8px
	&__comments
		margin-bottom 40px
		+r($t)
			margin-bottom 8px
	&__related
		margin-bottom 15px
		margin-bottom 0



