extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/hero/hero
include /blocks/main/main
include /blocks/side/side
include /blocks/filter/filter
include /blocks/content/content
include /blocks/search-form/search-form
include /blocks/cards/cards
include /blocks/pagination/pagination

include /blocks/footer/footer

block head
	- var pageTitle = 'LawStock - Фриланс-биржа юридических услуг';

block content
	.overlay
	+header()
	+main().main-content
		+hero()
		.main__w
			+side().main__side
				+filter()

			+content().main__content
				.main__search-form
					+search-form()

				+cards-empty().main__cards

	+footer()

	.cat-filter
		+filter()
