mixin social()
	ul.social&attributes(attributes)
		li.social__item.social__item_1
			a.social__link(href="#-1")
				.social__icon Facebook
				.social__quant 6
		li.social__item.social__item_2
			a.social__link(href="#-2")
				.social__icon Vk
				.social__quant 29
		li.social__item.social__item_3
			a.social__link(href="#-3")
				.social__icon Ok
				.social__quant
		li.social__item.social__item_4
			a.social__link(href="#-4")
				.social__icon Twitter
				.social__quant

