include ../icon/icon
include ../rating/rating
include ../social/social


mixin article()
	article.article&attributes(attributes)
		.article__top
			h1.article__title Споры между участниками хозяйственных обществ
			.article__date 12/01/2017
			.article__cat Уголовное право
				+icon('family-law', true).article__cat-icon
			+rating().article__rating
		.article__image
			img(src="assets/images/content/article-img.jpg", alt="article image")

		p С 1 июля вступили в силу поправки в статью 13.11 КоАП по поводу нарушений закона о персональных данных. Они касаются практически любого сайта — личного или корпоративного, если сайт собирает, обрабатывает и хранит данные пользователей. Под определение обработки персональных данных попадает использование на сайте любой формы обратной связи, в которой от посетителя просят ввести, к примеру, почтовый адрес, или имя и фамилию и т. д.

		p Такой сайт обязан зарегистрироваться в реестре операторов персональных данных Роскомнадзора, а также подготовить и опубликовать на сайте соглашение о персональных данных с возможностью согласиться или отказаться от их обработки и хранения. За нарушение этого правила полагается штраф до 75 000 рублей. Причем штраф может налагаться за каждый случай нарушения,то есть, к примеру, за каждого посетителя, который отправил свои данные на сайте без соответствующей «галочки» о согласии на обработку персональных данных.

		h2 Новые правила могут стать проблемой в первую очередь для компаний малого бизнеса
		.article__image.article__image_left
			img(src="assets/images/content/article-img-2.jpg", alt="article image 2")

		p Анастасия Кузнецова, партнер юридического консалтинга Claims, поясняет, что требованиям должны подчиняться и государственные сайты.В соответствии со ст. 3 Федерального закона «О персональных данных» оператором персональных данных являются не только юридические.

		p И физические лица, но и государственные и муниципальные органы. Таким образом, все нормы закона, устанавливающие обязанности операторов,ограничения и негативные последствия несоблюдения закона распространяют свое действие и на государственные органы.

		p Такой сайт обязан зарегистрироваться в реестре операторов персональных данных Роскомнадзора, а также подготовить и опубликовать на сайте соглашение о персональных данных с возможностью согласиться или отказаться от их обработки и хранения. За нарушение этого правила полагается штраф до 75 000 рублей. Причем штраф может налагаться за каждый случай нарушения,то есть, к примеру, за каждого посетителя, который отправил свои данные на сайте без соответствующей «галочки» о согласии на обработку персональных данных.
		.article__image.article__image_right
			img(src="assets/images/content/article-img-2.jpg", alt="article image 2")

			//- img(src="assets/images/content/article-img-3.jpg", alt="article image 3")

		p Анастасия Кузнецова, партнер юридического консалтинга Claims, поясняет, что требованиям должны подчиняться и государственные сайты.В соответствии со ст. 3 Федерального закона «О персональных данных» оператором персональных данных являются не только юридические.

		p И физические лица, но и государственные и муниципальные органы. Таким образом, все нормы закона, устанавливающие обязанности операторов,ограничения и негативные последствия несоблюдения закона распространяют свое действие и на государственные органы.

		p
			strong Госорганы, в отличие от частных компаний и физлиц, не обязаны создавать«документы, определяющие политику оператора в отношении обработки персональных данных», так как деятельность госорганов в этой сфере урегулирована нормативно

		p С 1 июля вступили в силу поправки в статью 13.11 КоАП по поводу нарушений закона о персональных данных. Они касаются практически любого сайта — личного или корпоративного, если сайт собирает, обрабатывает и хранит данные пользователей. Под определение обработки персональных данных попадает использование на сайте любой формы обратной связи, в которой от посетителя просят ввести, к примеру, почтовый адрес, или имя и фамилию и т. д.

		blockquote
			p Однако существует отдельное постановление Правительства, из которого следует, что на сайте госоргана должны быть размещены правила обработки персональных данных

		p Такой сайт обязан зарегистрироваться в реестре операторов персональных данных Роскомнадзора, а также подготовить и опубликовать на сайте соглашение о персональных данных с возможностью согласиться или отказаться от их обработки и хранения. За нарушение этого правила полагается штраф до 75 000 рублей. Причем штраф может налагаться за каждый случай нарушения,то есть, к примеру, за каждого посетителя, который отправил свои данные на сайте без соответствующей «галочки» о согласии на обработку персональных данных.

		p
			strong Госорганы, в отличие от частных компаний и физлиц, не обязаны создавать«документы, определяющие политику оператора в отношении обработки персональных данных», так как деятельность госорганов в этой сфере урегулирована нормативно


		ul.unord-list
			li от аренды имущества – 45,96 млн.руб. (план выполнен на 96,03 %)
			li от аренды земли – 31,97 млн.руб. (план выполнен на 57,35 %)
			li от сервитута – 1,3 млн.руб. (план выполнен 209,68 %)
			li от реализации имущества – 9,77 млн.руб. (план выполнен на 32,57 %)
			li от реализации земель – 5,68 млн.руб. (на данную статью план не установлен)
			li от доверительного управления – 56,9 млн.руб. (план выполнен на 110,92 %)
			li дивиденды – 0,56 млн.руб. (план выполнен на 0,86 %)
			li часть чистой прибыли государственных унитарных предприятий – 58,09 млн.руб. (план выполнен на 142,73 %)
		ol.ord-list
			li от аренды имущества – 45,96 млн.руб. (план выполнен на 96,03 %)
			li от аренды земли – 31,97 млн.руб. (план выполнен на 57,35 %)
			li от сервитута – 1,3 млн.руб. (план выполнен 209,68 %)
			li от реализации имущества – 9,77 млн.руб. (план выполнен на 32,57 %)
			li от реализации земель – 5,68 млн.руб. (на данную статью план не установлен)
			li от доверительного управления – 56,9 млн.руб. (план выполнен на 110,92 %)
			li дивиденды – 0,56 млн.руб. (план выполнен на 0,86 %)
			li часть чистой прибыли государственных унитарных предприятий – 58,09 млн.руб. (план выполнен на 142,73 %)



		.table
			table
				thead
					tr
						th Товар
						th Прочность
						th Возврат
						th Цена
				tbody
					tr
						td Добрый заяц
						td 5
						td 7 дней
						td 2 000
					tr
						td Ворона
						td 4
						td 7 дней
						td 15 000
					tr
						td Котопарочка
						td 5
						td 7 дней
						td 3 000
					tr
						td Лапы
						td 3
						td 7 дней
						td 800




		+social().article__social
