include ../icon/icon

mixin cards()
	.cards&attributes(attributes)
		ul.cards__list
			li.cards__item.cards__item_civil
				.cards__item-title Гражданское право
					+icon('civil-law', true).cards__icon
				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_civil
				.cards__item-title Гражданское право
					+icon('family-law', true).cards__icon

				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_civil
				.cards__item-title Гражданское право
					+icon('civil-law', true).cards__icon

				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_civil
				.cards__item-title Гражданское право
					+icon('family-law', true).cards__icon

				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_civil
				.cards__item-title Гражданское право
					+icon('civil-law', true).cards__icon
				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_family
				.cards__item-title Гражданское право
					+icon('family-law', true).cards__icon
				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 1500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_administrative
				.cards__item-title Гражданское право
					+icon('civil-law', true).cards__icon
				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_criminal
				.cards__item-title Гражданское право
					+icon('family-law', true).cards__icon
				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_civil
				.cards__item-title Гражданское право
					+icon('civil-law', true).cards__icon
				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_civil
				.cards__item-title Гражданское право
					+icon('family-law', true).cards__icon
				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_civil
				.cards__item-title Гражданское право
					+icon('civil-law', true).cards__icon
				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_civil
				.cards__item-title Гражданское право
					+icon('family-law', true).cards__icon
				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_civil
				.cards__item-title Гражданское право
					+icon('civil-law', true).cards__icon
				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_family
				.cards__item-title Гражданское право
					+icon('family-law', true).cards__icon
				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 1500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_administrative
				.cards__item-title Гражданское право
					+icon('civil-law', true).cards__icon
				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_criminal
				.cards__item-title Гражданское право
					+icon('family-law', true).cards__icon
				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")


mixin cards-empty()
	.cards&attributes(attributes)
		.cards__empty
			+icon('briefcase-no-projects', true).cards__empty-icon
			.cards__empty-title Пока нет проектов


mixin cards-case()
	.cards&attributes(attributes)
		ul.cards__list
			li.cards__item.cards__item_civil
				.cards__item-title Гражданское право
					+icon('civil-law', true).cards__icon
				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_civil
				.cards__item-title Гражданское право
					+icon('family-law', true).cards__icon

				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_civil
				.cards__item-title Гражданское право
					+icon('civil-law', true).cards__icon

				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")

			li.cards__item.cards__item_civil
				.cards__item-title Гражданское право
					+icon('family-law', true).cards__icon

				.cards__text Северо-Западное следственное управление на транспорте (СЗ СУТ) СК РФ предъявило...
				.cards__meta
					.cards__meta-date 12/01/2017
					.cards__meta-time 12:22
				.cards__bottom
					.cards__price 500 Р
					button.cards__fav.fav
						+icon('star-active', true).fav__active
						+icon('star', true).fav__icon
				a.cards__link(href="#")


