.h-fav
	font-family $pBld
	color #000
	font-size 16px
	letter-spacing tracking(-10, 16)
	text-decoration none
	// line-height 24px
	white-space nowrap
	&:hover,
	&:focus
		color #000
		text-decoration none
	&__icon,
	&__val
		display inline-block
		vertical-align middle
	&__icon
		margin-top -4px
		margin-right 11px
		width 25px
		height 24px
		fill #000
	&__val
		color #50b8a8
