mixin case()
	section.case&attributes(attributes)
		h1.case__title Подготовить документы для регистрации ООО
		button.case__fav.fav.fav_big
			+icon('star-active', true).fav__active
			+icon('star', true).fav__icon
		ul.case__meta
			li.case__item Заявка размещена
				a.case__link(href="#link") Иванов Н.
			li.case__item
				.case__item-term Дата размещения заявки
					span.case__item-desc 20.07.2017
				.case__item-term До закрытия заявки
					span.case__item-desc 24 ч 15 мин
			li.case__item До закрытия заявки
				span.case__item-desc 24 ч 15 мин
			li.case__item Срок исполнения
				span.case__item-desc 24.07.2017
			li.case__item Отрасль
				a.case__link(href="#link") Гражданское право
		.case__desc
			.case__desc-title Описание заявки
			.case__text
				p Основное хозяйственное товарищество или общество отвечает солидарно с дочерним обществом по сделкам, заключенным последним во исполнение указаний или с согласия основного хозяйственного товарищества или общества (пункт 3 статьи 401), за исключением случаев голосования основного хозяйственного товарищества или общества по вопросу об одобрении сделки на общем собрании участников дочернего общества, а также одобрения сделки органом управления основного хозяйственного общества, если необходимость такого одобрения предусмотрена уставом дочернего и (или) основного общества.(в ред. Федерального закона от 29.06.2015 N 210-ФЗ)

		.case__button-w
			a.case__button.button.button_submit.button_wide(href="#button") Принять заявку

