include ../icon/icon


mixin related()
	.related&attributes(attributes)
		h2.related__title Lawstock рекомендует вам
		ul.related__list
			li.related__item
				.related__image
					img(src="assets/images/content/related-img-1.jpg", alt="")
				.related__caption
					.related__text Досудебный порядок урегулирования споров изменится с 12 июля 2017
					.related__cat Гражданское право
						+icon('civil-law', true).related__cat-icon
					.related__date 12/01/2017
				a.related__link(href="#link")
			li.related__item
				.related__image
					img(src="assets/images/content/related-img-1.jpg", alt="")
				.related__caption
					.related__text Досудебный порядок урегулирования споров изменится с 12 июля 2017
					.related__cat Гражданское право
						+icon('civil-law', true).related__cat-icon
					.related__date 12/01/2017
				a.related__link(href="#link")
			li.related__item
				.related__image
					img(src="assets/images/content/related-img-1.jpg", alt="")
				.related__caption
					.related__text Досудебный порядок урегулирования споров изменится с 12 июля 2017
					.related__cat Гражданское право
						+icon('civil-law', true).related__cat-icon
					.related__date 12/01/2017
				a.related__link(href="#link")
			li.related__item
				.related__image
					img(src="assets/images/content/related-img-1.jpg", alt="")
				.related__caption
					.related__text Досудебный порядок урегулирования споров изменится с 12 июля 2017
					.related__cat Гражданское право
						+icon('civil-law', true).related__cat-icon
					.related__date 12/01/2017
				a.related__link(href="#link")
